@model IEnumerable<ScheduleMedicControl.Business.Models.Cliente>

@using GridMvc.Html

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(foo => foo.Nome).Titled("Nome");
    columns.Add(foo => foo.Telefone).Titled("Telefone");
    columns.Add(foo => foo.Cpf).Titled("Cpf");
    columns.Add(foo => foo.Email).Titled("Email");
    columns.Add(foo => foo.TemConvenio).Titled("Tem convênio?").Encoded(false).Sanitized(false).RenderValueAs(model=> Html.CheckBox("checked",model.TemConvenio, new { @disabled = "disabled" }));
    columns.Add(foo => foo.NumeroConvenio).Titled("Numero do convênio");
    columns.Add(foo => foo.NomeConvenio).Titled("Nome do convênio");
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(edit => Html.ActionLink("Edit", "Edit", new { id = edit.Id }, new { @class = "btn btn-info fa fa-pencil" }).ToHtmlString());
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(details => Html.ActionLink("Details", "Details", new { id = details.Id }, new { @class = "btn btn-info fa fa-pencil" }).ToHtmlString());
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(delete => Html.ActionLink("Delete", "Delete", new { id = delete.Id }, new { @class = "btn btn-info fa fa-pencil" }).ToHtmlString());
}).WithPaging(5)
</div>
