@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3 style="font-weight: bold">Gestão de Agendamentos</h3>
    <p class="lead" style="font-family: 'David CLM BoldItalic'">
        Plataforma de agendamento de pacientes para vários consultórios médicos.
        Os agendamentos são feitos via telefone onde um paciente entra em contato com a recepcionista e informa em qual a Clínica Médica quer agendar o atendimento, seu nome completo, telefone, CPF, email, se tem convênio com plano de saúde, o número do convênio do plano de saúde e o nome do convênio(caso tenha).
        Ao realizar o cadastro a atendente irá informar em qual dia há vaga para atendimento.
        Se o paciente concordar, as informações devem ser salvas no sistema.
    </p>
</div>

