@model IEnumerable<ScheduleMedicControl.Business.Models.Agendamento>
@using GridMvc.Html

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Agendamentos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(foo => foo.DataFormatada).Titled("Data");
    columns.Add(foo => foo.SituacaoAgendamento.Descricao).Titled("Situacao Agendamento").Filterable(true);
    columns.Add(foo => foo.Cliente.Nome).Titled("Cliente").Sortable(true);
    columns.Add(foo => foo.Clinica.Nome).Titled("Clinica").Sortable(true);
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(edit => Html.ActionLink("Edit", "Edit", new { id = edit.Id }, new {@class="btn btn-info fa fa-pencil" }).ToHtmlString());
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(details => Html.ActionLink("Details", "Details", new { id = details.Id }, new {@class="btn btn-info fa fa-pencil" }).ToHtmlString());
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(delete => Html.ActionLink("Delete", "Delete", new { id = delete.Id }, new {@class="btn btn-info fa fa-pencil" }).ToHtmlString());
}).WithPaging(5)
</div>




